.place-card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
            margin-bottom: 30px;
            transition: transform 0.3s;
        }

.place-card:hover {
            transform: scale(1.02);
        }

.place-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }

.place-card h5 {
            margin-top: 15px;
        }

a.card-link {
            text-decoration: none;
            color: inherit;
            }
.dulich-container h1 {
                font-size: 2.2rem;
                margin: 30px 0;
                text-align: center; /* đổi lại center */
                font-weight: bold;
            }
            


.diadiem-elemet{
            flex: 1 1 20%;
            max-width: 20%;

        }
.diadiem-elemet h5{
            font-size: 1.5rem;
        }
.dulich-container {
        display: block;
        padding: 0 8%; /* dùng padding thay vì margin */
        }

.list-dulich-container{
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap; 
            gap: 10px;   
        }